.title {
  font-size: 23px;
  font-weight: 700;
  margin-left: 10px;
  padding: 8px;
}
.daily-item {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
}
.icon-small {
  width: 40px;
}
.day {
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 18px;
}
.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}
.min-max {
  color: #757575;
}
.daily-details-grid {
  /* background-color: whitesmoke;
    border-radius: 15px;
    height: 100px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 18px;
    */
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
}
.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}
.daily-details-grid-item label:first-child {
  color: #212121
}
.daily-details-grid-item label:last-child {
  color: black;
  font-size: 16px;
}
