.weather{
    width: 300px;
    border-radius: 6px;
    box-shadow:  10px -2px 20px rgba(0, 0, 0, 30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}
.top,
.bottom{
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.city{
    font-size: 18px;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: 1px;
    margin: 0; 
}
.climate{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;   
}
.weather-icon{
    width: 100px;
}
/* .parameter-row{
    display: flex;
    letter-spacing: 1px;
    line-height: 1;
} */

.temperature{
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}
.details{
    width: 100%;
    padding-left: 20px;

}
.parameter-row{
    display: flex;
    justify-content: space-between;
}
.parameter-label{
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;

}
.parameter-value{
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}