body {
  margin: 0;
  font-family: "Roboto",Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('C:\Users\laksh\Mini_Project\react-weather-app\public\icons\pexels-pixabay-209831.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
